<!-- Page Loader -->

<!-- #END# Page Loader -->

<section class="content home">
  <div class="container-fluid">
    <div class="block-header">
      <h2>Dashboard</h2>
      <small class="text-muted">Bienvenido al Sistema Akine</small>
    </div>

    <div class="row clearfix">
      <div class="col-lg-3 col-md-3 col-sm-6">
        <div class="info-box-4 hover-zoom-effect">
          <div class="icon"> <i class="zmdi zmdi-account col-blue"></i> </div>
          <div class="content">
            <div class="text">New Patient</div>
            <div class="number">27</div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6">
        <div class="info-box-4 hover-zoom-effect">
          <div class="icon"> <i class="zmdi zmdi-account col-green"></i> </div>
          <div class="content">
            <div class="text">OPD Patient</div>
            <div class="number">12</div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>

<div class="color-bg"></div>

