<head>
  <link href="assets/plugins/waitme/waitMe.css" rel="stylesheet"/>
  <link href="assets/plugins/bootstrap-select/css/bootstrap-select.css" rel="stylesheet"/>
  <link href="assets/plugins/dropzone/dropzone.css" rel="stylesheet">
  <link href="assets/plugins/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css"
        rel="stylesheet"/>

</head>

<!-- Page Loader -->
<div class="page-loader-wrapper">
  <div class="loader">
    <div class="preloader">
      <div class="spinner-layer pl-red">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div>
        <div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
    </div>
    <p>Please wait...</p>
  </div>
</div>
<!-- #END# Page Loader -->
<!-- Overlay For Sidebars -->
<div class="overlay"></div>
<!-- #END# Overlay For Sidebars -->

<section class="content">
  <div class="container-fluid">
    <div class="block-header">
      <h2>Add Doctor</h2>
      <small class="text-muted">Welcome to Swift application</small>
    </div>
    <div class="row clearfix">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="header">
            <h2>Basic Information
              <small>Description text here...</small>
            </h2>
            <ul class="header-dropdown m-r--5">
              <li class="dropdown"><a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown"
                                      role="button" aria-haspopup="true" aria-expanded="false"><i
                class="zmdi zmdi-more-vert"></i></a>
                <ul class="dropdown-menu pull-right">
                  <li><a href="javascript:void(0);" class=" waves-effect waves-block">Action</a></li>
                  <li><a href="javascript:void(0);" class=" waves-effect waves-block">Another action</a></li>
                  <li><a href="javascript:void(0);" class=" waves-effect waves-block">Something else here</a></li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="body">
            <div class="row clearfix">
              <div class="col-sm-6">
                <div class="form-group">
                  <div class="form-line">
                    <input type="text" class="form-control" placeholder="First Name">
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <div class="form-line">
                    <input type="text" class="form-control" placeholder="Last Name">
                  </div>
                </div>
              </div>
            </div>
            <div class="row clearfix">
              <div class="col-sm-3">
                <div class="form-group">
                  <div class="form-line">
                    <input type="text" class="datepicker form-control" placeholder="Date of Birth">
                  </div>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="form-group drop-custum">
                  <select class="form-control show-tick">
                    <option value="">-- Gender --</option>
                    <option value="10">Male</option>
                    <option value="20">Female</option>
                  </select>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="form-group">
                  <div class="form-line">
                    <input type="text" class="form-control" placeholder="Speciality">
                  </div>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="form-group">
                  <div class="form-line">
                    <input type="text" class="form-control" placeholder="Phone">
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <div class="form-line">
                    <input type="text" class="form-control" placeholder="Enter Your Email">
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <div class="form-line">
                    <input type="text" class="form-control" placeholder="Website URL">
                  </div>
                </div>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12">
                <form action="/" id="frmFileUpload" class="dropzone" method="post" enctype="multipart/form-data">
                  <div class="dz-message">
                    <div class="drag-icon-cph"><i class="material-icons">touch_app</i></div>
                    <h3>Drop files here or click to upload.</h3>
                    <em>(This is just a demo dropzone. Selected files are <strong>not</strong> actually uploaded.)</em>
                  </div>
                  <div class="fallback">
                    <input name="file" type="file" multiple/>
                  </div>
                </form>
              </div>
              <div class="col-sm-12">
                <div class="form-group">
                  <div class="form-line">
                    <textarea rows="4" class="form-control no-resize"
                              placeholder="Please type what you want..."></textarea>
                  </div>
                </div>
              </div>
              <div class="col-sm-12">
                <button type="submit" class="btn btn-raised g-bg-cyan">Submit</button>
                <button type="submit" class="btn btn-raised">Cancel</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-md-12">
        <div class="card">
          <div class="header">
            <h2>Doctor's Account Information
              <small>Description text here...</small>
            </h2>
            <ul class="header-dropdown m-r--5">
              <li class="dropdown"><a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown"
                                      role="button" aria-haspopup="true" aria-expanded="false"><i
                class="zmdi zmdi-more-vert"></i></a>
                <ul class="dropdown-menu pull-right">
                  <li><a href="javascript:void(0);" class=" waves-effect waves-block">Action</a></li>
                  <li><a href="javascript:void(0);" class=" waves-effect waves-block">Another action</a></li>
                  <li><a href="javascript:void(0);" class=" waves-effect waves-block">Something else here</a></li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="body">
            <div class="row clearfix">
              <div class="col-sm-12">
                <div class="form-group">
                  <div class="form-line">
                    <input type="text" class="form-control" placeholder="User Name">
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <div class="form-line">
                    <input type="text" class="form-control" placeholder="Password">
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <div class="form-line">
                    <input type="text" class="form-control" placeholder="Confirm Password">
                  </div>
                </div>
              </div>
              <div class="col-sm-12">
                <button type="submit" class="btn btn-raised g-bg-cyan">Submit</button>
                <button type="submit" class="btn btn-raised">Cancel</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-md-12">
        <div class="card">
          <div class="header">
            <h2>Doctor Social Media Info
              <small>Description text here...</small>
            </h2>
            <ul class="header-dropdown m-r--5">
              <li class="dropdown"><a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown"
                                      role="button" aria-haspopup="true" aria-expanded="false"><i
                class="zmdi zmdi-more-vert"></i></a>
                <ul class="dropdown-menu pull-right">
                  <li><a href="javascript:void(0);" class=" waves-effect waves-block">Action</a></li>
                  <li><a href="javascript:void(0);" class=" waves-effect waves-block">Another action</a></li>
                  <li><a href="javascript:void(0);" class=" waves-effect waves-block">Something else here</a></li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="body">
            <div class="row clearfix">
              <div class="col-sm-4">
                <div class="form-group">
                  <div class="form-line">
                    <input type="text" class="form-control" placeholder="Facebook">
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <div class="form-line">
                    <input type="text" class="form-control" placeholder="Twitter">
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <div class="form-line">
                    <input type="text" class="form-control" placeholder="Google Plus">
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <div class="form-line">
                    <input type="text" class="form-control" placeholder="LinkedIN ">
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <div class="form-line">
                    <input type="text" class="form-control" placeholder="Behance">
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <div class="form-line">
                    <input type="text" class="form-control" placeholder="dribbble">
                  </div>
                </div>
              </div>
              <div class="col-sm-12">
                <button type="submit" class="btn btn-raised g-bg-cyan">Submit</button>
                <button type="submit" class="btn btn-raised">Cancel</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="color-bg"></div>
<script src="assets/plugins/autosize/autosize.js"></script> <!-- Autosize Plugin Js -->
<script src="assets/plugins/momentjs/moment.js"></script> <!-- Moment Plugin Js -->
<script src="assets/plugins/dropzone/dropzone.js"></script> <!-- Dropzone Plugin Js -->
<!-- Bootstrap Material Datetime Picker Plugin Js -->
<script src="assets/plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js"></script>
<script src="assets/js/pages/forms/basic-form-elements.js"></script>
