<head>
  <link href="assets/plugins/waitme/waitMe.css" rel="stylesheet"/>
  <link href="assets/plugins/bootstrap-select/css/bootstrap-select.css" rel="stylesheet"/>
  <link href="assets/plugins/dropzone/dropzone.css" rel="stylesheet">
  <link href="assets/plugins/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css" rel="stylesheet"/>
</head>

<!-- Overlay For Sidebars -->
<div class="overlay"></div>
<!-- #END# Overlay For Sidebars -->

<section class="content">
  <div class="container-fluid">
    <div [ngClass]="messageClass" role="alert" *ngIf="message">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      {{message}}
    </div>
    <div class="block-header">
      <h2>{{title}}</h2>
    </div>
    <form #form="ngForm" (ngSubmit)="onSubmit()">
      <div class="row clearfix">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="header">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs">
              <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#general_icon_title"
                                      aria-expanded="false"><i class="material-icons">person</i>General</a></li>
            </ul>
          </div>
          <!-- Tab panes -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane in active" id="general_icon_title">
              <div class="body">
                <div class="row clearfix">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <div class="form-line">
                        <label>Nombres(*):</label>
                        <input #name="ngModel" type="text" name="name" class="form-control"
                               [(ngModel)]="patient.name" required>
                      </div>
                      <span *ngIf="!name.valid && name.touched" class="text-danger">El nombre es obligatorio</span>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <div class="form-line">
                        <label>Apellidos(*):</label>
                        <input #lastName="ngModel" type="text" name="lastName" class="form-control" required
                               [(ngModel)]="patient.lastName">
                      </div>
                      <span *ngIf="!lastName.valid && lastName.touched" class="text-danger">El apellido es obligatorio</span>
                    </div>
                  </div>
                </div>
                <div class="row clearfix">
                  <div class="col-sm-3">
                    <div class="form-group">
                      <div class="form-line">
                        <label>Documento(*):</label>
                        <input #id="ngModel" type="text" name="id" class="form-control" [(ngModel)]="patient.id" required>
                      </div>
                      <span *ngIf="!id.valid && id.touched" class="text-danger">El documento es obligatorio</span>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="form-group">
                      <div class="form-line">
                        <label>Teléfono(*):</label>
                        <input  #phonesNumber="ngModel" type="text" name="phonesNumber" type="text" class="form-control"
                                [(ngModel)]="patient.phones.number" required>
                      </div>
                      <span *ngIf="!phonesNumber.valid && phonesNumber.touched" class="text-danger">El teléfono es obligatorio</span>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="form-group">
                      <div class="form-line">
                        <label>Fecha de Nacimiento:</label>
                        <input #birthDate="ngModel" name="birthDate" type="date" class="form-control" placeholder="DD/MM/AAAA"
                               [(ngModel)]="patient.birthDate">
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="form-group drop-custum">
                      <label>Genero:</label>
                      <select #gender="ngModel" name="gender" class="form-control show-tick"  [(ngModel)]="patient.gender">
                        <option value="">-- Genero --</option>
                        <option value="m">Masculino</option>
                        <option value="f">Femenino</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="row clearfix">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <div class="form-line">
                        <label>Domicilio:</label>
                        <input #addressStreet="ngModel" name="addressStreet" type="text" class="form-control" [(ngModel)]="patient.address.street">
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <div class="form-line">
                        <label>Email:</label>
                        <input #email="ngModel" name="email" type="email" class="form-control" [(ngModel)]="patient.email">
                      </div>
                    </div>
                  </div>
                </div>
                <!-- OBRA SOCIALES -->
                <div class="row clearfix">
                  <div class="col-sm-12">
                    <div class="header">
                      <h2 class="card-inside-title"><i class="material-icons">credit_card</i> Obras Sociales</h2>
                    </div>
                  </div>
                  <div class="col-sm-6">
                      <div class="form-group drop-custum">
                        <label>Obra Social:</label>
                        <select class="form-control show-tick"  name="socialInsuranceId" [(ngModel)]="patient.socialInsurance._id">
                            <option value="">-- Obra social --</option>
                            <option  *ngFor="let socialInsurance of socialInsurances" value="{{socialInsurance._id}}">{{socialInsurance.name}}</option>
                        </select>
                      </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <div class="form-line">
                        <label>Número:</label>
                        <input type="text" class="form-control" [(ngModel)]="patient.socialInsurance.number">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row clearfix">
                  <div class="col-sm-12">
                    <button type="submit" class="btn btn-raised bg-cyan waves-effect" type="submit" [disabled]="!form.form.valid">{{action}}</button>
                    <button class="btn btn-raised" [routerLink]="['/list-patients']">Cancelar</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </form>
  </div>
</section>

<div class="color-bg"></div>
<script src="assets/plugins/autosize/autosize.js"></script> <!-- Autosize Plugin Js -->
<script src="assets/plugins/momentjs/moment.js"></script> <!-- Moment Plugin Js -->
<script src="assets/plugins/dropzone/dropzone.js"></script> <!-- Dropzone Plugin Js -->
<!-- Bootstrap Material Datetime Picker Plugin Js -->
<script src="assets/js/pages/forms/basic-form-elements.js"></script>
