<head>
  <link href="assets/plugins/waitme/waitMe.css" rel="stylesheet"/>
  <link href="assets/plugins/bootstrap-select/css/bootstrap-select.css" rel="stylesheet"/>
  <link href="assets/plugins/dropzone/dropzone.css" rel="stylesheet">
  <link href="assets/plugins/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css" rel="stylesheet"/>
</head>

<!-- Overlay For Sidebars -->
<div class="overlay"></div>
<!-- #END# Overlay For Sidebars -->
<section class="content">
  <div class="container-fluid">
    <div class="alert alert-danger alert-dismissible" role="alert" *ngIf="message">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        {{message}}
    </div>
    <div class="block-header">
      <h2>{{title}}</h2>
    </div>
    <form #form="ngForm" (ngSubmit)="onSubmit()">
      <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="card">
            <div class="header">
              <!-- Nav tabs -->
              <ul class="nav nav-tabs">
                <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#general_icon_title"
                                        aria-expanded="false"><i class="material-icons">person</i>General</a></li>          
              </ul>          
            </div>
            <!-- Tab panes -->
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane in active" id="general_icon_title">
                <div class="body">
                  <div class="row clearfix">
                    <div class="col-sm-6">
                      <div class="form-group">
                        <div class="form-line">
                          <input #name="ngModel" type="text" name="name" class="form-control" placeholder="Nombres" [(ngModel)]="professional.name" required>
                          <span *ngIf="!name.valid && name.touched" class="text-danger">El nombre es obligatorio</span>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                        <div class="form-line">
                          <input #lastName="ngModel" type="text" name="lastName" class="form-control" placeholder="Apellidos" required
                                 [(ngModel)]="professional.lastName">
                          <span *ngIf="!lastName.valid && lastName.touched" class="text-danger">El apellido es obligatorio</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row clearfix">
                    <div class="col-sm-3">
                      <div class="form-group">
                        <div class="form-line">
                          <input #id="ngModel" type="text" name="id" class="form-control" placeholder="Documento" [(ngModel)]="professional.id" required>
                          <span *ngIf="!id.valid && id.touched" class="text-danger">El documento es obligatorio</span>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-3">
                      <div class="form-group">
                        <div class="form-line">
                          <input  #phonesNumber="ngModel" type="text" name="phonesNumber" type="text" class="form-control" placeholder="Teléfono" [(ngModel)]="professional.phones.number" required>
                          <span *ngIf="!phonesNumber.valid && phonesNumber.touched" class="text-danger">El teléfono es obligatorio</span>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-3">
                      <div class="form-group">
                        <div class="form-line">
                          <input #birthDate="ngModel" name="birthDate" type="date" class="form-control" placeholder="Fecha de Nac.(DD/MM/AAAA)"
                                [(ngModel)]="professional.birthDate" required>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-3">
                      <div class="form-group drop-custum">
                        <select #gender="ngModel" name="gender" class="form-control show-tick"  [(ngModel)]="professional.gender">
                          <option value="">-- Genero --</option>
                          <option value="m">Masculino</option>
                          <option value="f">Femenino</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="row clearfix">
                    <div class="col-sm-6">
                      <div class="form-group">
                        <div class="form-line">
                          <input #addressStreet="ngModel" name="addressStreet" type="text" class="form-control" placeholder="Domicilio" [(ngModel)]="professional.address.street">
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                        <div class="form-line">
                          <input #email="ngModel" name="email" type="text" class="form-control" placeholder="Email" [(ngModel)]="professional.email">
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                        <div class="form-line">
                          <input #professionalLicense="ngModel" name="professionalLicense" type="text" class="form-control" placeholder="Licencia" [(ngModel)]="professional.license">
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                        <div class="form-line">
                          <input #professionalSpecialities="ngModel" name="professionalSpecialities" type="text" class="form-control" placeholder="Especialidad" [(ngModel)]="professional.specialities">
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-12"> 
                      <button type="submit" class="btn btn-raised bg-cyan waves-effect" type="submit" [disabled]="!form.form.valid">{{action}}</button>
                      <button type="submit" class="btn btn-raised">Cancelar</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>    
  </div>
</section>

<div class="color-bg"></div>
<script src="assets/plugins/autosize/autosize.js"></script> <!-- Autosize Plugin Js -->
<script src="assets/plugins/momentjs/moment.js"></script> <!-- Moment Plugin Js -->
<script src="assets/plugins/dropzone/dropzone.js"></script> <!-- Dropzone Plugin Js -->
<!-- Bootstrap Material Datetime Picker Plugin Js -->
<script src="assets/js/pages/forms/basic-form-elements.js"></script>
