<section>
  <!-- Left Sidebar -->
  <aside id="leftsidebar" class="sidebar">
    <!-- User Info -->
    <div class="user-info">
      <div class="admin-image"> <img src="assets/images/logoEmpresa/AkineIcono.png" alt=""> </div>
      <div class="admin-action-info"> <span>Bienvenido</span>
        <h3>AKine</h3>
      </div>

      <div class="quick-stats">
        <h5>Informe</h5>
        <ul>
          <li><span>16<i>Pacientes</i></span></li>
          <li><span>20<i>Licenciados</i></span></li>
        </ul>
      </div>
    </div>
    <!-- #User Info -->
    <!-- Menu -->
    <div class="menu">
      <ul class="list">
        <li class="header">Menú de Navegación</li>
        <li class="active open"><a [routerLink]="['/']"><i class="zmdi zmdi-home"></i><span>Dashboard</span></a></li>
        <li><a href="javascript:void(0);" class="menu-toggle"><i class="zmdi zmdi-account-add"></i><span>Licenciado</span> </a>
          <ul class="ml-menu">
            <li><a  [routerLink]="['add-doctor']">Agregar Licenciado</a></li>
            <li><a  [routerLink]="['list-doctors']">Listar Licenciados</a></li>
          </ul>
        </li>
        <li><a href="javascript:void(0);" class="menu-toggle"><i class="zmdi zmdi-account-o"></i><span>Pacientes</span> </a>
          <ul class="ml-menu">
            <li><a  [routerLink]="['add-patient']">Agregar Paciente</a></li>
            <li><a  [routerLink]="['list-patients']">Listar Pacientes</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <!-- #Menu -->
  </aside>
  <!-- #END# Left Sidebar -->
</section>
