<div class="row">
  <form class="col s12" #form="ngForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="input-field col s2">
        <input type="text" class="validate" #nroDocumento="ngModel" name="nroDocumento" value=""
               [(ngModel)]="paciente.nroDocumento">
        <label>Nro Documento</label>
      </div>
      <div class="input-field col s5">
        <input type="text" class="validate" #nombre="ngModel" name="nombre" value=""
               [(ngModel)]="paciente.nombre">
        <label>Nombre</label>
      </div>
      <div class="input-field col s5">
        <input type="text" class="validate" #apellido="ngModel" name="apellido" value=""
               [(ngModel)]="paciente.apellido">
        <label>Apellido</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s2">
        <i class="material-icons prefix">date_range</i>
        <input type="text" class="validate" placeholder="DD/MM/YYYY" #apellido="ngModel"
               name="fechaNacimiento" value="" [(ngModel)]="paciente.fechaNacimiento">
        <label>Fecha Nacimiento</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s5">
        <input type="text" class="validate" #telefono="ngModel" name="telefono" value=""
               [(ngModel)]="paciente.telefono">
        <label>Teléfono</label>
      </div>
      <div class="input-field col s5">
        <input type="text" class="validate" #celular="ngModel" name="celular" value=""
               [(ngModel)]="paciente.celular">
        <label>Celular</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s5">
        <i class="material-icons prefix">email</i>
        <input type="text" class="validate" #mail="ngModel" name="mail" value="" [(ngModel)]="paciente.mail">
        <label>Mail</label>
      </div>
    </div>


    <div class="row">
      <input class="with-gap" name="sexo" type="radio" id="femenino" [(ngModel)]="paciente.sexo" value="Femenino"
             #sexo="ngModel"/>
      <label for="femenino">Femenino</label>
      <input class="with-gap" name="sexo" type="radio" id="masculino" [(ngModel)]="paciente.sexo" value="Masculino"
             #sexo="ngModel"/>
      <label for="masculino">Masculino</label>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <input type="text" class="validate" #obraSocialNombre="ngModel" name="obraSocialNombre"
               [(ngModel)]="paciente.obraSocial.nombre">
        <label>Obra Social</label>
      </div>
      <div class="input-field col s6">
        <input type="text" class="validate" #nroObraSoc="ngModel" name="nroObraSoc"
               [(ngModel)]="paciente.obraSocial.nroAfiliado">
        <label>Nro Socio</label>
      </div>
    </div>
    <button class="btn waves-effect waves-light" type="submit" name="action">Enviar
      <i class="material-icons right">send</i>
    </button>
  </form>
</div>

