<!-- Morphing Search  -->
<div id="morphsearch" class="morphsearch">
  <form class="morphsearch-form">
    <div class="form-group m-0">
      <input value="" type="search" placeholder="Explore Swift..." class="form-control morphsearch-input" />
      <button class="morphsearch-submit" type="submit">Search</button>
    </div>
  </form>
  <div class="morphsearch-content">
    <div class="dummy-column">
      <h2>People</h2>
      <a class="dummy-media-object" href="#"> <img class="round" src="assets/images/xs/avatar1.jpg" alt=""/>
        <h3>Sara Soueidan</h3>
      </a> <a class="dummy-media-object" href="#"> <img class="round" src="assets/images/xs/avatar2.jpg" alt=""/>
      <h3>Rachel Smith</h3>
    </a> <a class="dummy-media-object" href="#"> <img class="round" src="assets/images/xs/avatar3.jpg" alt=""/>
      <h3>Peter Finlan</h3>
    </a> <a class="dummy-media-object" href="#"> <img class="round" src="assets/images/xs/avatar4.jpg" alt=""/>
      <h3>Patrick Cox</h3>
    </a> <a class="dummy-media-object" href="#"> <img class="round" src="assets/images/xs/avatar5.jpg" alt=""/>
      <h3>Tim Holman</h3>
    </a></div>
    <div class="dummy-column">
      <h2>Popular</h2>
      <a class="dummy-media-object" href="#"> <img class="round" src="assets/images/xs/avatar5.jpg" alt=""/>
        <h3>Sara Soueidan</h3>
      </a> <a class="dummy-media-object" href="#"> <img class="round" src="assets/images/xs/avatar4.jpg" alt=""/>
      <h3>Rachel Smith</h3>
    </a> <a class="dummy-media-object" href="#"> <img class="round" src="assets/images/xs/avatar1.jpg" alt=""/>
      <h3>Peter Finlan</h3>
    </a> <a class="dummy-media-object" href="#"> <img class="round" src="assets/images/xs/avatar2.jpg" alt=""/>
      <h3>Patrick Cox</h3>
    </a> <a class="dummy-media-object" href="#"> <img class="round" src="assets/images/xs/avatar3.jpg" alt=""/>
      <h3>Tim Holman</h3>
    </a> </div>
    <div class="dummy-column">
      <h2>Recent</h2>
      <a class="dummy-media-object" href="#"> <img class="round" src="assets/images/xs/avatar1.jpg" alt=""/>
        <h3>Sara Soueidan</h3>
      </a> <a class="dummy-media-object" href="#"> <img class="round" src="assets/images/xs/avatar5.jpg" alt=""/>
      <h3>Rachel Smith</h3>
    </a> <a class="dummy-media-object" href="#"> <img class="round" src="assets/images/xs/avatar1.jpg" alt=""/>
      <h3>Peter Finlan</h3>
    </a> <a class="dummy-media-object" href="#"> <img class="round" src="assets/images/xs/avatar4.jpg" alt=""/>
      <h3>Patrick Cox</h3>
    </a> <a class="dummy-media-object" href="#"> <img class="round" src="assets/images/xs/avatar2.jpg" alt=""/>
      <h3>Tim Holman</h3>
    </a></div>
  </div>
  <!-- /morphsearch-content -->
  <span class="morphsearch-close"></span> </div>
